/*Estilos generales*/
html{
    scroll-behavior: smooth;
}

*::selection{
    background: #579EFA;
}

*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-family: 'Roboto';
}
@font-face{
    font-family: 'Roboto';
    src: url(/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url(/fonts/Roboto/Roboto-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}

/*Estilos específicos*/
.landing_card{
    height: 98vh;
    background: linear-gradient(to bottom, #15253B,#345D94 ,#579EFA);
    margin: 1vh;
    border-radius: 20px;
    overflow: hidden;
     /*Overflow: hidden;Esto esta interesante ya que si pones un borde redondeado
    y el contendio dentro de la etiqueta sobresaldría dobre el borde redondeado, 
    el contenido se corta hasta donde llegue el borde*/
}

.header{
    padding: 4vh 0;
    display: flex;
    justify-content: space-between; /*Para que ocupen el 100% del ancho  minetras haya un espacio entre ellos*/
}

.logo_header{
    background-color: white;
    width: 15vw;
    border-radius: 0 20px 20px 0;
    text-align: center; /*El text align center sirve ya que es un div*/
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));;
}
.img_logo_header{
    width: 10vw;
}
.menu_header{
    background-color: white;
    height: max-content;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    font-size: 2.5vh;
    padding: 1vw 2vw;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));;
}
ul{
    padding: 1vw 2vw;
    border-radius: 20px;  
}
a{
    text-decoration: none;
    color: black;
}
ul:hover{
    text-decoration: underline;
    background-color: aliceblue;
}
ul:hover a{
    color: #579EFA;
}
.Album_Cover{
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
    align-items: flex-end;
    margin: 20vh 0; 
}


section.Album_Cover img{
    width: 15vw;
    border-radius: 20px;
}
section.Album_Cover img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.Conocenos{
    font-size: large;
    color: white;
    padding: 5vh 10vw;
    border: solid 1px black;
    width: fit-content;
    background: linear-gradient(to bottom, #15253B,#345D94 ,#579EFA);
}