/*Estilos generales*/
html{
    scroll-behavior: smooth;
}

*::selection{
    background: #579EFA;
}

*{
    margin: 0;
    padding: 0;
    transition: 0.3s;
    font-family: 'Roboto';
    font-weight: 300;
}
@font-face{
    font-family: 'Roboto';
    src: url(/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url(/fonts/Roboto/Roboto-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}

/*Estilos específicos*/
.landing_card{
    height: 98vh;
    background: linear-gradient(to bottom, #15253B,#345D94 ,#579EFA);
    margin: 1vh;
    border-radius: 20px;
    padding: 3vh;
     /*Esto esta interesante ya que si pones un borde redondeado
    y el contendio dentro de la etiqueta sobresaldría dobre el borde redondeado, 
    el contenido se corta hasta donde llegue el borde*/
}

.header{
    
    display: flex;
    justify-content: space-between; /*Para que ocupen el 100% del ancho  minetras haya un espacio entre ellos*/
}

.logo_header{
    background-color: white;
    width: 13vw;
    border-radius: 20px;
    text-align: center; /*El text align center sirve ya que es un div*/
}
.img_logo_header{
    width: 7vw;
}
.menu_header{
    background-color: white;
    height: max-content;
    padding: 4vh;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}
ul:hover{
    color: #579EFA;
}